html, body {
  margin: 0;
  padding: 0;
}

#intro {
  position: absolute;
  padding: 0 20px;
  top: 0px;
  left: 0px;
  z-index: 5;
  highlight: black;
  width: 1920px;
  height: 1080px;
  font-family: sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

span {
  background: black;
  color: white;
  font-size: 8em;
}
