html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

#intro {
  /* position: absolute; */
  padding: 0 0 0 20px;
  top: 0px;
  left: 0px;
  z-index: 5;
  font-size: 4.95em;
  /* width: 1240px;
  height: 720px; */
  font-family: sans-serif;
}

#intro p {
  display: none;
  color: black;
}

p span {
  text-decoration: underline;
  font
}

#curtain {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
